@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

/* GERAL */
.hammersmithOneRegular {
  font-family: "Hammersmith One", sans-serif;
}

.body {
  background-color: #f1f7ff;
  min-height: 100vh;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  background-color: #1447e6;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.header .left-side, .header .right-side {
  display: flex;
  align-items: center;
}

.header .left-side {
  gap: 2rem;
  margin-left: 5rem;
}

.header .right-side {
  display: flex;       /* Adicionado aqui */
  align-items: center;
  gap: 1.5rem;
  margin-right: 5rem;
  margin-left: 1rem;
  flex-wrap: wrap;
}

.header img {
  width: 20rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
}

.header .login-button {
  background-color: white;
  color: #155dfc;
  padding: 0.25rem 1.25rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.fail-message {
  color: red !important;
}

.search-bar {
  display: flex;
}

.search-bar input {
  height: 40px;
  width: 100%;          /* Permite que ele use o espaço disponível */
  max-width: 18rem;     /* Mas limita ao tamanho máximo original */
  font-size: 1.2rem;
  color: #948484;
  background-color: #f1f7ff;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: white;
  color: #155dfc;
  border: none;
  border-radius: 5px;
  height: 2.6rem;
  width: 3.5rem;
  transition: 0.3s;
}

.search-bar button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.perfil-button {
  max-width: 11rem;
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-grid {
  max-width: 68vw;
  align-self: center;
  display: flex;
  padding: 3% 0;
  min-height: 30rem;
}

@media (max-width: 900px) {
  .header .left-side {
    margin-left: 1.5rem;
    gap: 1rem;
  }
  .header .right-side {
    margin-right: 1.5rem;
    gap: 1rem;
  }
}

@media (max-width: 767px) {
  .header {
    padding-bottom: 1.5rem;
  }

  .header .left-side {
    margin: 0 !important;
    width: 100%;
    justify-content: center !important;
    margin-bottom: 1rem;
  }

  .header .right-side {
    margin: 0 !important;
    width: 100%;
    padding: 0 1rem; 
    justify-content: space-between !important; 
    gap: 0 !important;
  }

  .header .right-side .notifications-button {
    width: 3.5rem;
    height: 3.5rem
  }

  .search-bar {
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    order: -1; 
    padding: 0 1rem; 
    box-sizing: border-box;
  }

  .search-bar input {
    max-width: 100%;
  }

  .card-grid { 
    max-width: 85vw;
  }

  .card {
    border-radius: 15px !important;
  }
}

/*CARDS*/
.card {
  max-width: 100%;
  width: 25rem;
  height: 27rem;
  margin: 15px 0;
  padding: 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
}

.card .card-content .card-titulo {
  font-size: 1.5rem;
  font-weight: 600;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card .card-content .card-descricao {
  color: text-secondary;
  font-size: 1rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  line-height: 1.5;

  height: 3rem;
}

.card .card-media {
  object-fit: cover;
  width: 100%;
}

.card .card-button {
  background-color: #155dfc;
  color: white;
  text-align: center;
  margin: 0 auto;
}

/*.page-navigator {
  align-self: flex-end;
  display: flex;
  width: 30%;
  justify-content: space-between;
}*/

/* Modal overlay styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  min-width: 380px;
  max-width: 90%;
  
  max-height: 85vh; 
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  color: #101828;
}

.modal .modal-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  overflow-y: auto; 
  padding-right: 4px;
}

.modal .modal-fields::-webkit-scrollbar {
  width: 6px;
}
.modal .modal-fields::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.email-field,
.password-field,
.titulo-field,
.descricao-field,
.image-field,
.data-field,
.hora-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-image img {
  height: 4.5rem;
  width: 8rem;
  border-radius: 8px;
  object-fit: cover;
}

.modal-container:has(.titulo-field) {
  height: 70vh;
}

.modal-container:has(.data-field) {
  height: 70vh;
  width: 450px;
}

.modal-container:has(.modal-confirmation) {
  height: 23vh;
  padding: 0;
}

.modal-container:has(.modal-confirmation-perfil) {
  height: 23vh;
}

.modal-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.modal-confirmation-actions {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal .modal-fields h3 {
  align-self: flex-start;
  justify-self: flex-start;
  font-weight: 500;
  font-size: 1rem;
}

.modal .modal-fields input {
  padding: 0.75rem;
  font-size: 1rem;
  background: #ffffff;
  color: #948484;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
}

.error::placeholder {
  color: red !important;
}

.modal .modal-fields input:focus {
  outline: none;
  border-color: #1447e6;
}

.modal .modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 1rem;
}

.modal .modal-buttons button {
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.modal .modal-buttons .cancel-button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #c7c7c7;
  transition: background-color 0.3s ease;
}

.modal .modal-buttons .login-button {
  background-color: #1447e6;
  color: white;
  transition: background-color 0.3s ease;
}

.modal .modal-buttons .login-button:disabled {
  background-color:#738ee0
}

.modal .modal-buttons .cancel-button:hover {
  background-color: #c7c7c7;
}

.modal .modal-buttons .login-button:hover {
  background-color: #0f3ab9;
  color: white;
}

.modal .oficina-data-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 80vh;
  width: 45vw;
  overflow: hidden;
}

.modal-header,
.modal-actions {
  flex-shrink: 0; /* Impede que o cabeçalho ou os botões amassem */
}

/* 3. A nova div criada que controlará o Scroll */
.modal-body-scroll {
  flex-grow: 1;
  overflow-y: auto; /* Ativa a rolagem vertical apenas se necessário */
  padding-right: 8px; /* Espaço para a barra de rolagem não cobrir o texto */
}

/* Opcional: Deixar a barra de rolagem mais elegante e fina nos navegadores modernos */
.modal-body-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-body-scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.modal-body-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.modal .oficina-data-modal .close-button {
  align-items: center;
  justify-self: right;
  width: auto;
}

.modal .oficina-data-modal .close-button {
  color: rgb(201, 12, 12);
}

.modal .oficina-data-modal .close-button svg {
  font-size: 1.5rem;
}


.oficina-data-modal h2 {
  display: flex;
}

.oficina-data-modal p {
  font-size: 1.1rem;
}

.oficina-data-modal h2 .edit-button {
  margin-right: 1rem;
}

.modal .oficina-data-modal .edit-button {
  align-items: center;
  justify-self: right;
  width: 2.75rem;
}

.modal .oficina-data-modal .edit-button, .add-encontro-button svg {
  color: #0000cf;
}

.modal .oficina-data-modal .edit-button svg, .add-encontro-button svg, .delete-encontro-button svg {
  font-size: 1.5rem;
}


.encontro-data-with-margin {
  margin-left: 1.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-header h2 {
  flex: 1;
  margin: 0;
  text-align: left;
  font-size: 1.4rem;
}

.modal-content {
  width: 100%;
  flex: 1;
}

.modal-content p {
  text-align: justify;
}

.modal-content .professor {
  font-weight: 500;
  margin-bottom: 1rem;
}

.participantes, .tutores, .encontros {
  margin-top: 3rem;
}

.encontros {
  margin-bottom: 5rem;
}

.encontros h3 .tipo1 {
  margin-left: 1rem;
}

.create-encontro-error {
  font-size: .9rem;
  margin: .3rem 0;
  color: red !important;
}


.tutores h3, .participantes h3, .encontros h3 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tutores h3 .tutores-num, .participantes h3 .participantes-num, .encontros h3 .encontros-num {
  font-weight: 400;
  border-radius: 50%;
  padding-left: .6rem;
  padding-right: .6rem;
}

.tutores h3 .tutores-num {
  color: #008000;
  background-color: #D9FFD9;
}

.participantes h3 .participantes-num {
  color: #800080;
  background-color: #FFDAFF;
}

.encontros h3 .encontros-num {
  color: #193CB8;
  background-color: #DBEAFE;
}

.tutores ul li, .participantes ul li, .encontros ul li {
    list-style-type: none;
    text-align: left;
    line-height: 3rem;
}

.tutores li p, .participantes li p, .encontros li p {
    display: inline;
}

.tutores li .nome, .participantes li .nome, .encontro-data, .encontro-data-with-margin {
    font-weight: bold;
}

.tutores li .nome {
    color: #008000;
    background-color: #D9FFD9;
    padding: .3rem;
    border-radius: 10px;
}

.participantes li .nome {
    color: #800080;
    background-color: #FFDAFF;
    padding: .3rem;
    border-radius: 10px;
}

.encontro-inicio-hora {
  margin: 0 .75rem 0 3rem;
}

.encontro-fim-hora {
  margin: 0 0 0 .75rem;
}


.encontro-data, .encontro-data-with-margin  {
  color: #193CB8;
  background-color: #DBEAFE;
  padding: .3rem;
  border-radius: 10px;
}

.encontro-hora {
  font-weight: 600;
}

/*oficina data modal*/
.modal-actions {
  width: 100%;
  display: flex;
  justify-content: right;
  align-self: flex-end;
}

/* FOOTER */
.footer {
  position: relative;
  background-color: #101828;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #99a1af;
  font-size: 0.9rem;
  margin: 0;
}

.footer p:first-of-type {
  color: white;
  font-size: 1rem;
}































/*PERFIL PAGE*/
.app-main h2 {
    font-size: 2rem;
}

.app-main h2, .app-main p, .app-main h3 {
    color: black;
}

.header p:first-child, .footer p {
    color: white;
}

.info-pessoal {
    background-color: white;
    width: 80%;
    align-self: center;
    margin: 2rem 0;
    border-radius: 15px;
    box-shadow: 9px 8px 4px -8px #c5c5c5
    
}

.info-content {
    display: flex;
    justify-content: space-around;
}

.info-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: left;
    padding: 2rem;
}

.info-item p:first-child {
    font-weight: bold;
}

.info-item p {
    margin: .5rem 0;
}

.info-item .icon {
    width: 2rem;
    height: 2rem;
    padding: .75rem;
    border-radius: 10px;
    margin-right: 2rem;
}


.linked-oficinas {
    background-color: white;
    width: 80%;
    align-self: center;
    border-radius: 15px;
    box-shadow: 9px 8px 4px -8px #c5c5c5;
    margin-bottom: 2rem;
}

.linked-oficinas .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.linked-oficinas .title .left {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.linked-oficinas .title h2 {
    padding: 0 2rem;
}

.linked-oficinas .title .icon {
    width: 2rem;
    height: 2rem;
}

.linked-oficinas .title .right {
    color: #193CB8;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 2rem;
    padding: 0.75rem 1.25rem;
    background-color: #DBEAFE;
    border-radius: 50%;
}


.card-grid {
    justify-content: center;
    justify-self: center;
}

.card-media-container {
  position: relative;
  width: 100%;
}

.card-label {
  position: absolute;
  top: 10px;    /* Distância do topo da imagem */
  right: 10px;  /* Distância da borda direita da imagem */
  
  /* Estilização visual (ajuste com as cores do seu app) */
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
  /* Garante que o label fique visualmente acima da imagem */
  z-index: 2; 
}

.professor-label, .tutor-label {
    border-radius: 10px;
}

.professor-label {
    background-color: #DBEAFE;
    color: #193CC7 !important;
}

.tutor-label {
    background-color: #D9FFD9;
    color: #008000 !important;
}

